body
{
    background-color: #FBF7EC;
}
#padder-box
{
  height: 100%;
}

#central{
  height:100%;
}

.caption h3
{
  font-size: 13pt;
}

.position-central{
  margin-top: 15%;
}

.custom-amount
{
  margin-top: 0;
}
#custom-payment-submit
{
  margin-top: 5px;
}
.input-group
{
  margin: 3px 0 3px 0;
}