{% extends "layout.html" %}
{% block content %}
                    <div class="row" id="central position-central">
                        <div class="col-md-12">
                            <h2>Users</h2>
                            <table class="table">
                              <tr><th>Username</th><th>Admin Status</th><th>Balance</th><th>Adjust Blanace</th></tr>
                                {% for user in users %}
                                <tr>
                                  <form action="/admin" method="post">
                                    <input type="hidden" name="uid" value="{{ user.uid }}" />
                                    <td>{{ user.uid }}</td>
                                    <td><span class="glyphicon glyphicon-{% if user.admin %}ok{% else %}ban{% endif %}-circle"></span>
                                    <td>{{ user.getCreditString() }}</td>
                                    <td>
                                      <div class="input-group">
                                        <input type="text" class="form-control" name="amount" placeholder="60" size="6"/>
                                        <div class="input-group-addon">p</div>
                                      </div>
                                    </td>
                                    <td>
                                      <input class="btn btn-warning" type="submit" name="action" value="Add" />
                                      <input class="btn btn-info" type="submit" name="action" value="Remove" />
                                    </td>
                                  </form>
                                </tr>
                                {% endfor %}
                            </table>
                            <h2>Unapproved Stock</h2>
                            <table class="table">
                              <tr><th>Date</th><th>User</th><th>Item</th><th>Quantity</th><th>Total</th><th>Approve</th></tr>
                              {% for transaction in unapproved_transactions %}
                              <tr>
                                <td>{{ transaction.toTimeString() }}</td>
                                <td>{{ transaction.user.uid }}</td>
                                <td>{{ transaction.inventory.name }}</td>
                                <td>{{ transaction.quantity }}</td>
                                <td>{{ transaction.getAmountString() }}</td>
                                <td>
                                  <form action="/admin" method="post">
                                    <input type="hidden" name="action" value="approve" />
                                    <input type="hidden" name="transaction_id" value="{{ transaction.id }}" />
                                    <input class="btn btn-warning" type="submit" value="Approve" />
                                  </form>
                                </td>
                              </tr>
                              {% endfor %}
                            </table>
                        </div>
                    </div>

{% endblock %}