{% extends "layout.html" %}
{% block content %}
                    <link rel="stylesheet" href="/css/bootstrap-dialog.css" />
                    <script src="/js/bootstrap-dialog.js"></script>
                    <script>
                        function confirmPayUser(uid, amount)
                        {
                            BootstrapDialog.show({
                                message: 'Are you sure you wish to pay ' + uid + ' \u00A3' + amount + ' for stock',
                                buttons: [{
                                    label: 'Pay',
                                    action: function(dialogRef) {
                                        document.getElementById('pay_' + uid).submit();
                                        dialogRef.close()
                                    },
                                    cssClass: 'btn-warning'
                                },
                                {
                                    label: 'Cancel',
                                    action: function(dialogRef) {
                                        dialogRef.close();
                                    }
                                }]
                            });
                        }
                        function handlePayEnter(event, uid, amount)
                        {
                            if (event.keyCode == 13)
                            {
                                confirmPayUser(uid, amount);
                                return false;
                            }
                            return event.keyCode != 13;
                        }

                        function confirmCreditChange(uid, amount, description, credit)
                        {
                            if (credit)
                            {
                                message = 'Are you sure that you wish to add ' + amount + 'p to the account of ' + uid;
                                document.getElementById('action_' + uid).value = 'credit';
                            }
                            else
                            {
                                message = 'Are you sure that you wish to remove ' + amount + 'p from the account of ' + uid;
                                document.getElementById('action_' + uid).value = 'debit';
                            }
                            BootstrapDialog.show({
                                message: message,
                                buttons: [{
                                    label: 'Accept',
                                    action: function(dialogRef) {
                                        document.getElementById('credit_change_' + uid).submit();
                                        dialogRef.close()
                                    },
                                    cssClass: 'btn-warning'
                                },
                                {
                                    label: 'Cancel',
                                    action: function(dialogRef) {
                                        dialogRef.close();
                                    }
                                }]
                            });
                        }
                    </script>
                    <div class="row" id="central position-central">
                        <div class="col-md-12">
                            <h2>Users</h2>
                            <table class="table">
                                <tr><th>Username</th><th>Admin Status</th><th>Balance</th><th>Adjust Blanace</th></tr>
                                {% for user in users %}
                                <tr>
                                    <form action="/admin" method="post" id="credit_change_{{ user.uid }}" onkeypress="return event.keyCode != 13;">
                                        <input type="hidden" name="uid" value="{{ user.uid }}" />
                                        <td>{{ user.uid }}</td>
                                        <td><span class="glyphicon glyphicon-{% if user.admin %}ok{% else %}ban{% endif %}-circle"></span>
                                        <td>{{ user.getCreditString() }}</td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control input-sm" id="credit_change_amount_{{ user.uid }}" name="amount" placeholder="60" size="4"/>
                                                <div class="input-group-addon">p</div>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" id="credit_change_description_{{ user.uid }}" name="description" placeholder="Description" size="12" />
                                        </td>
                                        <td>
                                            <input type="hidden" id="action_{{ user.uid }}" name="action" value="" />
                                        </td>
                                    </form>
                                        <td>
                                            <button class="btn btn-warning btn-xs" onclick="confirmCreditChange('{{ user.uid }}', document.getElementById('credit_change_amount_{{ user.uid }}').value, document.getElementById('credit_change_description_{{ user.uid }}').value, true)">Credit</button>
                                            <button class="btn btn-info btn-xs" onclick="confirmCreditChange('{{ user.uid }}', document.getElementById('credit_change_amount_{{ user.uid }}').value, document.getElementById('credit_change_description_{{ user.uid }}').value, false)">Debit</button>
                                        </td>
                                </tr>
                                {% endfor %}
                            </table>
                            <h2>Unpaid Stock</h2>
                            {% if not unpaid_users %}
                            <div class="alert alert-info" role="info">All stock has been paid</div>
                            {% endif %}
                            {% for user in unpaid_users %}
                            <div class="col-md-12">
                                <h3>{{ user.uid }}</h3>
                                {% if user.getStockCreditValue() %}<span style="color: red">User has {{ user.getStockCreditValue(string=True, none_on_zero=True) }} in stock credit</span>{% endif %}
                                <table class="table">
                                    <tr><th>Date</th><th>Item</th><th>Quantity</th><th>Quantity Remaining</th><th>Total</th><th>Remaining to pay</th></tr>
                                    {% for transaction in user.getUnpaidTransactions() %}
                                    <tr>
                                        <td>{{ transaction.toTimeString() }}</td>
                                        <td>{{ transaction.inventory.name }}</td>
                                        <td>{{ transaction.quantity }}</td>
                                        <td>{{ transaction.getQuantityRemaining() }}
                                        <td>{{ transaction.getCostString() }}</td>
                                        <td>{{ transaction.getCostRemainingString() }}
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                      <td></td><td></td><td></td><td></td><td>Total</td><td>{{ user.getTotalOwedString() }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-10 sol-xs-12">
                                <form action="/admin" method="post" id="pay_{{ user.uid }}" onkeypress="return handlePayEnter(event, '{{ user.uid }}', document.getElementById('pay_amount_{{ user.uid }}').value)">
                                    <input type="hidden" name="action" value="pay_stock" />
                                    <input type="hidden" name="uid" value="{{ user.uid }}" />
                                    <div class="form-group">
                                        <span for="pay_amount_input">Amount to Pay</span>
                                        <div class="input-group">
                                            <div class="input-group-addon">&pound;</div>
                                            <input type="text" class="form-control" name="amount" id="pay_amount_{{ user.uid }}" placeholder="10.00" />
                                        </div>
                                    </div>
                                </form>
                                <button class="btn btn-info" onclick="confirmPayUser('{{ user.uid }}', document.getElementById('pay_amount_{{ user.uid }}').value)">Pay {{ user.uid }}</button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

{% endblock %}