{% extends "layout.html" %}
{% block content %}
                    <div class="row" id="central">
                        <div class="col-md-8 position-central">
                            <h1>Tuck Shop</h1>
                            <div id="current-credit">
                                <p>Welcome to the tuck shop, {{ user.display_name }}. You currently have </p>
                                <h2 style="text-align:center">{{ user.getCreditString() }}</h2>
                                <p>in your account. </p>
                            </div>
                        </div>
                        <div class="col-md-12">

                            {% for item in inventory %}
                            <div class="col-xs-6 col-md-3">
                                <div class="thumbnail">
                                  <img src="{{ item.image_url }}" alt="{{ item.name }}">
                                  <div class="caption">
                                    <h3>{{ item.name }}</h3>
                                    <p><a href="/purchase" class="btn btn-primary" role="button">{{ item.getSalePriceString() }}</a></p>
                                  </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-6">

                            <form action="/credit" method="post">
                                <input type="hidden" name="action" value="pay" />
                                <div class="form-group">
                                    <label for="money">How much would you like to pay?</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">&pound;</div>
                                        <input type="text" class="form-control" id="money" name="amount" placeholder="0.2">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                    </div>
{% endblock %}