{% extends "layout.html" %}
{% block content %}
                    <script src="/js/credit-search.js"></script>

                    <div class="row" id="central">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="col-md-8">
                                <h1>{{ app_name }}</h1>
                                <div id="current-credit">
                                    <h4>Welcome to the tuck shop, {{ user.display_name }}.</h4>
                                    <br />
                                    <h3>You currently have {{ user.getCreditString() }} in your account.</h3>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="margin-top: 40px; float: right;" onkeyup="updateSearch(event)" >
                                <input id="search_input" class="form-control" placeholder="Search..."/>
                            </div>
                        </div>

                        <div class="col-md-12">
                            {% for item in inventory %}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 search_item">
                                <div class="thumbnail">
                                    <img src="{{ item.getImageUrl() }}" alt="{{ item.name }}">
                                    <div class="caption">
                                        <form id="purchase-{{ item.id }}" action="/credit" method="post">
                                            <input type="hidden" name="action" value="pay" />
                                            <input type="hidden" name="item_id" value="{{ item.id }}" />
                                            <h3 class="item_name">{{ item.name }}</h3>
                                            <p><input type="submit" class="btn btn-primary" value="{{ item.getSalePriceString() }}" role="button" {% if (not item.getQuantityRemaining()) %}disabled{% endif %}/></p>
                                            {% if (not item.getQuantityRemaining()) %}Out of Stock{% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% if (loop.index % 4) == 0 %}
                            <div class="col-lg-12 hidden-md hidden-sm hidden-xs" ></div>
                            {% endif %}
                            {% if (loop.index % 3) == 0 %}
                            <div class="hidden-lg col-md-12 hidden-sm hidden-xs" ></div>
                            {% endif %}
                            {% if (loop.index % 2) == 0 %}
                            <div class="hidden-lg hidden-md col-sm-12 hidden-xs" ></div>
                            {% endif %}
                            {% endfor %}
                            {% if enable_custom %}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <h3 class='custom-amount'>Custom Amount</h3>
                                        <form action="/credit" method="post">
                                            <input type="hidden" name="action" value="pay" />
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="money" name="amount" placeholder="30">
                                                <div class="input-group-addon">p</div>
                                            </div>
                                            <input type="text" class="form-control" id="description" name="description" placeholder="Description..." />
                                            <div><button type="submit" id="custom-payment-submit" class="btn btn-default">Pay</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
{% endblock %}