{% extends "layout.html" %}
{% block content %}
                <link rel="stylesheet" href="/css/bootstrap-dialog.css" />
                <script src="/js/bootstrap-dialog.js"></script>
                <script>
                    function salePriceAdjust(inv_trans_id, old_sale_price)
                    {
                        new_price = document.getElementById('sale_price_' + inv_trans_id).value;
                        message = "Are you sure that you wish to change the sale price from <b>" + old_sale_price + "p</b> to <b>" + new_price + "p</b>?<br /><br />" +
                                  "<b>Note:</b> The cost of the transaction will NOT be changed.<br />" +
                                  "The sale price will only be applied to items that have not yet been sold.<br />" +
                                  "The unsold items (that the sale price change applies to) will be split " +
                                  "from the original transaction into a separate transaction";
                        showDialog(message, "update_sale_price_" + inv_trans_id);
                    }
                    function handleEnter(event, callback)
                    {
                        if (event.keyCode == 13)    
                        {
                            callback();
                            return false;
                        }
                        return event.keyCode != 13;
                    }
                    function quantityAdjust(inv_trans_id, old_quantity)
                    {
                        new_quantity = document.getElementById('quantity_' + inv_trans_id).value;
                        message = "Are you sure that you wish to change the remaining stock quantity from <b>" + old_quantity + "</b> to <b>" + new_quantity + "</b> for this transaction?<br /><br />" +
                            "<b>Note:</b> The transaction cost will NOT be changed.<br />" +
                            "You may only decrease the quantity to the point of no more items available (i.e. cannot be decreased below the number of items that have already been sold)";
                        showDialog(message, "update_quantity_" + inv_trans_id);
                    }
                    function showDialog(message, form_name)
                    {
                        BootstrapDialog.show({
                            message: message,
                            buttons: [{
                                label: 'Accept',
                                action: function(dialogRef) {
                                    document.getElementById(form_name).submit()
                                    dialogRef.close()
                                },
                                cssClass: 'btn-warning'
                            },
                            {
                                label: 'Cancel',
                                action: function(dialogRef) {
                                    dialogRef.close();
                                }
                            }]
                        });
                    }
                </script>
                <div class="row position-central">
                    <h2>Float</h2>
                    <dl class="dl-horizontal">
                        <dt>Float</dt>
                        <dd>{{ float }}</dd>
                        <dt>Stock Value</dt>
                        <dd>{{ stock_value }}</dd>
                        <dt>Combined User Credit</dt>
                        <dd>{{ credit_balance }}</dd>
                        <dt>Owed to stockers</dt>
                        <dd>{{ stock_owed }}</dd>
                    </dl>
                    <table class="table">
                        {% for inventory_item in active_inventorys -%}
                        <tr><th>Item</th><th>Total Quantity Remaining</th></tr>
                        <tr><td>{{ inventory_item.name }}</td><td>{{ inventory_item.getQuantityRemaining() }}</td></tr>
                        <tr><th>User</th><th>Cost</th><th>Sale Value (Pence)</th><th>Quantity (Unsold / Sold / Total)</th></tr>
                        {% for inventory_transaction in inventory_item.getInventoryTransactions(only_active=True) -%}
                        <tr>
                            <td>{{ inventory_transaction.user.uid }}</td>
                            <td>{{ inventory_transaction.getCostString() }}</td>
                            <td>
                                <input value="{{ inventory_transaction.sale_price }}" id="sale_price_{{ inventory_transaction.pk }}" name="sale_price" form="update_sale_price_{{ inventory_transaction.pk }}" size="2" onkeypress="return handleEnter(event, function() { salePriceAdjust({{ inventory_transaction.pk }}, {{ inventory_transaction.sale_price }}); });" />
                                <button class="btn btn-warning btn-xs" onclick="salePriceAdjust({{ inventory_transaction.pk }}, {{ inventory_transaction.sale_price }})">Update</button>
                            </td>
                            <td>
                                <input value="{{ inventory_transaction.getQuantityRemaining() }}" name="quantity" id="quantity_{{ inventory_transaction.pk }}" form="update_quantity_{{ inventory_transaction.pk }}" size="2" onkeypress="return handleEnter(event, function () { quantityAdjust({{ inventory_transaction.pk }}, {{ inventory_transaction.getQuantityRemaining() }}); });" /> / {{ inventory_transaction.getQuantitySold() }} / {{ inventory_transaction.quantity }}
                                <button class="btn btn-warning btn-xs" onclick="quantityAdjust({{ inventory_transaction.pk }}, {{ inventory_transaction.getQuantityRemaining() }})">Update</button>
                            </td>
                        </tr>
                        {% endfor -%}
                        <tr><td><br /></td></tr>
                        {% endfor -%}
                    </table>
                    {# Create forms for each of the inventory items -#}
                    {% for inventory_item in active_inventorys -%}
                    {% for inventory_transaction in inventory_item.getInventoryTransactions(only_active=True) -%}
                    <form id="update_sale_price_{{ inventory_transaction.pk }}" action="" method="post">
                        <input type="hidden" name="action" value="update_sale_price" />
                        <input type="hidden" name="inventory_transaction_id" value="{{ inventory_transaction.pk }}" />
                    </form>
                    <form id="update_quantity_{{ inventory_transaction.pk }}" action="" method="post">
                        <input type="hidden" name="action" value="update_quantity" />
                        <input type="hidden" name="inventory_transaction_id" value="{{ inventory_transaction.pk }}" />
                    </form>
                    {% endfor -%}
                    {% endfor %}
                </div>
{% endblock %}