<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{{ app_name }} - {{ page_name }}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/payment.css" />
        <script src="/js/jquery-2.1.4.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        
    </head>
    <body>
        <div class="container-fluid">
            <div id="background-image" class="col-md-6 hidden-sm hidden-xs"></div>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
            {% endif %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
{% block content %}{% endblock %}
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 hidden-sm hidden-xs"></div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <footer>
                        <ul class="nav nav-pills nav-justified">
                            <li role="presentation"><a href="/credit">Credit</a></li>
                            <li role="presentation"><a href="/history">Transaction History</a></li>
                            <li role="presentation"><a href="/stock">Stock Management</a></li>
                            <li role="presentation"><a href="/admin">Admin</a></li>
                            <li role="presentation"><a href="/logout">Logout</a></li>
                        </ul>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>
