{% extends "layout.html" %}
{% block content %}
                    <div class="row" id="central">
                        <div class="col-md-12 position-central">
                            {{ page_object.getHistoryMenu() }}
                            <table class="table">
                                <tr><th>Date/Time</th><th>Item</th><th>Description</th><th>Amount</th><th>User</th><th>Account</th></tr>
                                    {% if transaction_history %}
                                        {% for transaction in transaction_history %}
                                            <tr>
                                                <td>{{ transaction.toTimeString() }}</td>
                                                <td>{{ transaction.inventory_transaction.inventory.name }}</td>
                                                <td>{% if transaction.description %}{{ transaction.description }}{% endif %}</td>
                                                <td>{{ transaction.getAmountString() }}</td>
                                                <td>{{ transaction.author.uid }}</td>
                                                <td>{{ transaction.user.shared_name }}</td>
                                            </tr>
                                    {% endfor %}
                                </table>
                            {% else %}
                                </table>
                                <div class="alert alert-info" role="alert">There are no transactions available...</div>
                            {% endif %}
                            {% if page_data %}
                                <nav>
                                  <ul class="pagination">
                                    {% for page_info in page_data %}
                                        <li class="{{ page_info[0] }}"><a href="{{ page_info[1] }}">{{ page_info[2] }}</a></li>
                                    {% endfor %}
                                  </ul>
                                </nav>
                            {% endif %}
                        </div>
                    </div>
{% endblock %}