{% extends "layout.html" %}
{% block content %}
                    <div class="row" id="central">
                        <div class="col-md-12 position-central">
                            <h2>Stock Payment History</h2>
                            <table class="table">
                                <tr><th>Date/Time</th><th>Payment Description</th><th>Amount</th><th>Notes</th></tr>
                                    {% if payements %}
                                        {% for payment in payements %}
                                            <tr>
                                                <td>{{ payment.toTimeString() }}</td>
                                                <td>{% if payment.description %}{{ payment.description }}{% elif payment.inventory_transaction %}{{ payment.inventory_transaction.getDescriptiveTitle() }}{% else %}Credit{% endif %}</td>
                                                <td>{{ payment.getAmountString() }}</td>
                                                <td>{{ payment.getNotes() }}</td>
                                            </tr>
                                    {% endfor %}
                                </table>
                            {% else %}
                                </table>
                                <div class="alert alert-info" role="alert">There are no transactions available...</div>
                            {% endif %}
                            {% if page_data %}
                                <nav>
                                  <ul class="pagination">
                                    {% for page_info in page_data %}
                                        <li class="{{ page_info[0] }}"><a href="{{ page_info[1] }}">{{ page_info[2] }}</a></li>
                                    {% endfor %}
                                  </ul>
                                </nav>
                            {% endif %}
                        </div>
                    </div>
{% endblock %}